@typeparam TItem where TItem : class
<section class="related-section related-item">
    <div class="header">
        <div class="icon">
            @IconContent
        </div>
        <h1>@TypeName</h1>
        <div class="buttons btn-group">
            @Buttons
        </div>
    </div>
    <div class="content">
        @if (Item is not null)
        {
            <article>
                @ItemTemplate(Item)
            </article>
        }
        else
        {
            <p>@TypeName has not been set.</p>
        }
    </div>
</section>
@code {
    [Parameter, EditorRequired] public string TypeName { get; set; } = null!;
    [Parameter, EditorRequired] public TItem? Item { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment IconContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment Buttons { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment<TItem> ItemTemplate { get; set; } = null!;

}
