#logo-container {
    position:sticky;
    background-color: lightblue;
    position: sticky;
    top: 0;
    height: 5em;
}

#nav-container-top {
    height: 1px;
    background-color: red;
}

#nav-container {
    background-color: blue;
    position: sticky;
    top: 5em;
    padding: 1em;
    color: white;
    margin: 1em;
}

.nav-container-sticky {
    background-color: green !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#main-container{
 
}