button {
    cursor: pointer;
    background: hsl(0 0% 100%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1ch;
    padding-inline: 1.75ch;
    padding-block: .75ch;
    border: 2px solid var(--border-color);
    font: inherit;
    border-radius: 5px;

    &:disabled {
        opacity: 0.5;
    }

    &[type='submit'] {
        background: #1f78cf;
        border: 2px solid rgb(36 116 214);
        color: white;
    }
}

.btn-icon {
    fill: black;
}

.btn-group {
    display: flex;
    gap: 0;
    border: 2px solid #d2d2d2;
    border-radius: 5px;

    button {
        border: 0;
        border-radius: 0;
    }

    > :first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    > :last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    > :not(:last-child) {
        border-right: 2px solid #d2d2d2;
    }
}