dialog.create-dialog {
    padding: 0;
    border: none;
    border-radius: var(--border-radius);
    /*max-inline-size: 60ch;*/
    /*width: clamp(40ch, 70ch, 70ch);*/
    width: calc(100% - 2em);
    max-width: calc(1024px - 2em);


    .dialog-container {


        .dialog-header {
            padding: 0.5em;
            background: #ffffff;
            text-align: center;
            border-bottom: 2px solid var(--border-color);

            h1 {
                margin: 0
            }
        }

        .dialog-content {
            padding: 1em;
            background: #fafafa;
        }

        .dialog-footer {
            padding: 1em;
            background: #f2f3f8;
            border-top: 2px solid var(--border-color);
        }
    }
}

@media (min-width: 1024px) {
    dialog.create-dialog {
        width: calc(1024px - 2em);

        .form-section {
            grid-column: span 1 !important;
        }
    }
}

dialog.list-selector {
    width: clamp(10%, 70ch, 90%);
    /*height: clamp(10%, 60ch, 90%);*/
    padding: 0;

    .dialog-container {
        align-items: start;
        padding: 1em;

        .dialog-header {
            .search-wrapper {
                display: flex;
                column-gap: 1em;
                background-color: #ffffff;
                padding: 0 0 1em 0;

                > input {
                    flex-grow: 1;
                }
            }
        }

        .dialog-content {
            overflow-y: auto;
            max-block-size: 100%; /* safari */
            overscroll-behavior-y: contain;
            /*table {
                border-collapse: collapse;
                width: 100%;
            }

            thead {
                background-color: #f2f3f8;
            }

            tr {
                border-bottom: 1px solid #f2f3f8;
            }

            th {
                text-align: left;
            }
*/
            th, td {
                padding: 8px;
                cursor: pointer;
            }
        }

        .dialog-footer {
            padding: 1em 0 0 0;
            background-color: #ffffff;
        }
    }
}
