dialog.create-dialog {
    /*max-inline-size: 60ch;*/
    /*width: clamp(40ch, 70ch, 70ch);*/
    min-block-size: min(70ch, 90vh);
    width: calc(100% - 2em);
    max-width: calc(1024px - 2em);
    background: #fafafa;

    .dialog-container {


        .dialog-header {
            background: #ffffff;
            

            h1 {
                margin: 0
            }
        }

        .dialog-content {
        }

        .dialog-footer {
            background: #f2f3f8;
        }
    }
}

@media (min-width: 1024px) {
    dialog.create-dialog {
        width: calc(1024px - 2em);

        .form-section {
            grid-column: span 1 !important;
        }
    }
}

dialog.list-selector {
    width: clamp(10%, 70ch, 90%);
    /*height: 60ch;*/ /*clamp(90%, 60ch, 60ch);*/
    min-block-size: min(70ch, 90vh);

    .dialog-container {
        align-items: start;


        .dialog-header {

            h1 {
            }
        }

        .dialog-content {
            .search-wrapper {
                display: flex;
                column-gap: 1em;
                background-color: #ffffff;
                padding: 0 0 1em 0;

                > input {
                    flex-grow: 1;
                }
            }

            th, td {
                padding: 8px;
                cursor: pointer;
            }
        }

        .dialog-footer {
            background-color: #ffffff;
        }
    }
}
