.entity-svg-vehicle {
    background: green;
}
.entity-svg-person {
    background: blue;
}

.entity-svg-company {
    background: #a094ed;
}
.entity-svg-customer {
    background: purple;
}
.entity-svg-fleet {
    background: #4a3fad;
}

.entity-svg-servicebooking {
    background: #cc2974;
}

.entity-svg-mot {
    background: yellow;
}