input, select, textarea, .combo-input {
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--color);
}

//TODO this doesn't work
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::calendar-picker-indicator {
    color: var(--color); // calendar icon on 'date' inputs
}

input[type='checkbox'] {
    width: 1em;
    height: 1em;
}

input[type='radio'] {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

form {
    label {
        margin: 0.5em 0 0.5em 0;
        font-size: 80%;
        font-weight: 400;
    }

    .validation-message {
        margin-bottom: 0.5em;
        color: red;
    }
}

form.edit-form {
    font-size: 1rem;

    fieldset.form-grid {
        container-type: inline-size;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em 1em;
        line-height: 1.5;

        .form-section {
            grid-column: span 2;
        }

        fieldset {
            legend {
                background-color: var(--form-legend-background-color);
                width: 100%;
                padding: 0.25em;
            }
        }

        label {
            grid-column: 1;
            grid-row: auto;
            align-self: center;
            
        }

        input, select, textarea {
            grid-column: 2;
            grid-row: auto;
        }

        .validation-message {
            grid-column-start: 2;
        }

        input:not([type='checkbox']), select, textarea {
            width: 100%;
        }

        
        /*.validation-message-holder {
            grid-column-start: 2;
        }*/
    }

    .buttons {
        margin-top: 1em;
        /*grid-row: auto;
            grid-column: 1 / -1;*/
        text-align: start;
    }
}

fieldset:disabled {
    input, select, textarea, .combo-input {
        background-color: #ffffff;
        color: rgb(84, 84, 84);
        border: 1px solid #ffffff;
        border-bottom: 1px solid var(--border-color);
        border-radius: 0;
    }

    .combo.form-combo {
        .combo-input {
            span {
                border-right-color: #ffffff;
            }

            svg {
                visibility: hidden
            }
        }
    }
}

form.fullresponse {
    fieldset.form-grid {
        @container (width >= 80ch) {
            .form-section {
                grid-column: span 1;
            }
        }
        /*@media (min-width: 80ch) {
            .form-section {
                grid-column: span 1;
            }
        }

        @media (min-width: 160ch) {
            .form-section {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: 0.5em 1em;
                grid-auto-rows: min-content;

                fieldset {
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 0.5em 1em;
                    grid-auto-rows: min-content;
                }
            }
        }*/
    }
}
