#app {
    min-height: 100vh;
}

#header {
    border-bottom: 1px solid var(--border-color);
}

.main {
    /*background-color: #a7bbdb;*/
    background: rgb(124,153,232);
    /*background: linear-gradient(180deg, rgba(124,153,232,1) 0%, rgba(124,181,232,1) 47%, rgba(124,185,232,1) 100%);*/
    background: linear-gradient(180deg, rgba(124,153,232,1) 0%, rgba(124,181,232,1) 47%, #a7bbdb 100%);
    min-height: calc(100vh - var(--header-height));
}

/* temp to stop x scrollbar when task slides in */
/*body, html {
    overflow-x: hidden; 
}*/