


.related-list {
    background: #f2f3f8;
    padding: 1em;

    .header {
        display: flex;
        align-items: center;
        gap: 1em;

        .icon {
            display: flex;
            align-items: center;

            div {
                padding: 0.5em;
                border-radius: 5px;

                > svg {
                    height: 1em;
                    fill: white;
                }
            }
        }

        .title {
            flex-grow: 1;
            font-weight: 600;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        article {
            display: inline;
            font-size: smaller;
            width: 50ch;

            .content-header {
                display: flex;

                h1 {
                    flex-grow: 1;
                }
            }

            h1 {
                font-size: 120%;
                margin: 0;
            }

            dl {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 1em;
            }

            dd {
                margin: 0;
            }
        }
    }
}

.page-header {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    background-color: var(--page-header-background-color);
    padding: 0.5em;

    .icon {
        display: flex;
        align-items: center;

        div {
            padding: 0.5em;
            border-radius: 5px;

            > svg {
                height: 2em;
                fill: white;
            }
        }
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        h1 {
            font-size: small;
            margin: 0;
            text-transform: uppercase;
        }

        h2 {
            margin: 0;
            display: flex;
            align-items: flex-end;
            column-gap: 0.5em;

            button {
                padding-inline: 0.2em;
                padding-block: 0;
            }
        }
    }

    .buttons {
        justify-items: flex-end;
        align-self: end;
    }
}

.view-header {
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);

    dl {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding: 1em;
        
        .namevalue {
            display: flex;
            flex-direction: column;
            line-height: 1.5;

            dt {
                font-size: smaller;
            }

            dd {
                margin: 0;
                font-weight: 600;
            }
        }
    }
}

.list-info {
    display: flex;
    align-items: baseline;
    background-color: var(--page-header-background-color);
    padding: 0.5em;

    .list-description {
        flex-grow: 1;

        .paginator {
            border: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    .list-info-buttons {
    }
}

.list-dropdown-holder {
    position: relative;
}
/*.list-dropdown {
    position: absolute;
    background-color: #ffffff;

    ul > li {
        cursor: pointer;
    }
}*/
/*.list-card {
    padding: 0;
    margin: 0;
    background-color: #fafaf9;
}*/

.list-data {
    .col-title {
        padding: 0 !important;
    }
}
