/*https://colorswall.com/palette/123588*/
.svg-home {
    background: #fff100;
}
.svg-company {
    background: #ff8c00;
}
.svg-driver {
    background: #e81123;
}
.svg-customer {
    background: #ec008c;
}
.svg-fleet {
    background: #68217a;
}
.svg-network {
    background: #00188f;
}
.svg-supplier {
    background: #00bcf2;
}
.svg-vehicle {
    background: #00b294;
}
.svg-servicebooking {
    background: #009e49;
}
//#bad80a

.svg-search {
    background: blue;
}


.entity-svg-mot {
    background: yellow;
}

.svg-xlarge {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    img {
        height: 3em;
        width: 3em;
    }
}

.svg-large {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    img {
        height: 2em;
        width: 2em;
    }
}

.svg-medium {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

    img {
        height: 1em;
        width: 1em;
    }
}
