.tabs {
    padding: 0.5em;
    background-color: #ffffff;
    
    [role="tabpanel"] {
        border: 0;
        border-top-width: 1px;
        border-top-color: var(--border-color);
        border-top-style: solid;
        padding: 1em 0.5em 0.5em 0.5em;
    }

    [role="tab"] {
        border: 3px solid #ffffff;
        text-transform: uppercase;
    }

    [role="tab"][aria-selected="true"] {
        font-weight: 600;
        border-bottom-color: var(--tabs-highlight);
    }
}
