table {
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;

    > thead > tr, tr {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    > thead > tr > th, > tbody > tr > td {
        padding: 10px !important;
    }

    thead {
        background-color: #fafaf9;
        text-transform: uppercase;
        color: #504d4b;

        th {
            text-align: start;
            border: 1px solid var(--border-color);
        }
    }

    
}
