table {
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;

    > thead > tr, tr {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    > thead > tr > th, > tbody > tr > td {
        padding: 10px !important;
        /*overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;*/
    }

    thead {
        background-color: var(--table-header-background-color);
        text-transform: uppercase;
        color: var(--table-header-color);

        .col-title {
            font-weight: 500 !important;
        }

        th {
            text-align: start;
            border: 1px solid var(--border-color);
        }
    }
}
