.taskview {
    display: flex;
    padding: 5px;
    background: #ffffff;
    align-items: center;

    .task-content{
        flex-grow: 1;
    }

    .menu-button-actions{
        
    }
}
.task-form {
    background: var(--task-background-color);
    border: 2px solid var(--border-color);
    padding: 1em;
    width: 50ch;
    margin-left: 1em;

    h1 {
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 1em;

        .option {
            display: flex;
            flex-direction: column;


            .option-select {
                display: flex;
                flex-direction: row;
                column-gap: 1em;
                align-items: center;

                label {
                    font-size: initial;
                    font-weight: 500;
                }
            }

            .option-data {
                display: flex;
                flex-direction: column;
                margin-left: 2em;
            }
        }

        .buttons {
            display: flex;
            justify-content: end;
            column-gap: 0.5em;
            margin-top: 1em;
        }
    }
}
