#nav-container-top {
    position:absolute;
    top: var(--page-margin);
    height: 1px;
    background-color: red;
}

.nav-container-sticky {
    margin-left: 0 !important;
    margin-right: 0 !important;
    transition: margin 0.3s;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.page-header {
    position: sticky;
    top: var(--header-height);
    margin: var(--page-margin) var(--page-margin) 0 var(--page-margin);
    background-color: var(--page-header-background-color);
    transition: margin 0.3s;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    .buttons button {
        color: var(--a-visited-text);

        svg {
            fill: var(--a-visited-text);
        }
    }
}

.page-sub-header {
    margin: 0 var(--page-margin) 0 var(--page-margin);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.page-content {
    margin: var(--page-margin);
}

.view-header {
    
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
    /*border-top: 2px solid var(--border-color);*/
}

.list-info {
    background-color: var(--page-header-background-color);
}

.activitylog article {
    border-bottom: 1px solid var(--border-color);
}

.related50 {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.related-list {
    background: #f2f3f8;
}

.related-item {
    background: #ffffff;
}

.related-section {
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);

    .header {
        /*  .icon {

            div {
                padding: 0.5em;
                border-radius: 5px;

                > svg {
                    height: 1em;
                    fill: white;
                }
            }
        }*/

        .buttons button {
            color: var(--a-visited-text);
        }
    }
}