:root {
    --a-active-text: #c00;
    --a-hover-bg: rgba(75%, 75%, 75%, .25);
    --a-normal-text: #004eff;
    --a-visited-text: var(--a-normal-text);
    --bg: var(--bg-light);
    --bg-dark: hsl(218.18deg 9.4% 22.94%);
    --bg-light: #ffffff;
    --border-color: #ded4d4;
    --border-radius: 5px;
    --box-shadow-size: 3px;
    --button-border-color: #899294;
    --button-border-radius: 5px;
    --color: var(--color-light);
    --color-light: black;
    --color-dark: white;
    --control-border-color: #000000;
    --control-focus-color: #7aaee4;
    --dialog-footer-background-color: #f7f9fb;
    --form-legend-background-color: #f3f2f2;
    --header-background-color: rgb(244,242,242);
    --header-bg: var(--header-bg-light);
    --header-bg-light: #ffffff;
    --header-bg-dark: hsl(218.18deg 9.4% 22.94%);
    --header-button-color: #899294;
    --header-color: var(--header-color-light);
    --header-color-dark: #ffffff;
    --header-color-light: #000000;
    --header-height: 3em;
    --heading-text: var(--heading-text-light);
    --heading-text-dark: rgb(244,242,242);
    --heading-text-light: #100000;
    --lowlight-text: #9e9e9e;
    --normal-text: #3b3b3b;
    --outline-size: 5px;
    --page-header-background-color: var(--page-header-background-color-light);
    --page-header-background-color-dark: #5b5d5e;
    --page-header-background-color-light: #f7f9fb;
    --page-margin: 0.5em;
    --section-bg: var(--section-bg-light);
    --section-bg-dark: #2d2f33;
    --section-bg-light: rgb(237 237 237);
    --sidebar-bg: var(--sidebar-bg-light);
    --sidebar-bg-dark: #1f2123;
    --sidebar-bg-light: #c9c9c9;
    --table-header-background-color: #f9f9f9;
    --table-header-color: #42444c;
    --tabs-highlight: rgb(0 132 255);
    --task-background-color: #f7f9fb;
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg: var(--bg-dark);
        --color: var(--color-dark);
        --page-header-background-color: var(--page-header-background-color-dark);
        /*--header-bg: var(--header-bg-dark);
        --header-color: var(--header-color-dark);
        --heading-text: var(--heading-text-dark);
        --sidebar-bg: var(--sidebar-bg-dark);
        --section-bg: var(--section-bg-dark);*/
    }
}
