@page
@model Vms.Web.Server.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <div class="main">
        <div class="content px-4">

            <div>
                <h1>Welcome</h1>
                <p>Hello from Razor Pages!</p>
            </div>

            <ul>
                <li><a href="https://localhost:5000">Identity Server</a></li>
                <li><a href="https://localhost:5002">Client site</a></li>
            </ul>
        </div>
    </div>
</body>
</html>