@page "/"
@inject NavigationManager Navigation
@inject ILogger<Index> Logger
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<section class="page">
    <h1>Home</h1>
    @* <div class="tile-container">
    <div class="tile svg-vehicle">
    <div class="svg-xlarge svg-vehicle">
    <img alt="Vehicle" src="icons/vehicle.svg" />
    </div>
    <div class="title">Vehicle</div>
    </div>
    <div class="tile svg-servicebooking">

    <div class="svg-xlarge svg-servicebooking">
    <img alt="Service Booking" src="icons/servicebooking.svg" />
    </div>
    <div class="title">Service Booking</div>
    </div>
    </div> *@
    <ol>
        <li><a href="/vms/bookingprocess">Booking Process</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="/buttons">Buttons</a></li>
    </ol>
</section>

@code {


}