@page "/"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations;

<PageTitle>Index</PageTitle>

@if (dialogShowMode != Dialog.ShowMode.None)
{
    <Dialog @ref="dialog" AutoShow="dialogShowMode">
        <h1>Confirm</h1>
        <h3>@message</h3>
        <p>Are you sure you want to remove this driver from the vehicle?</p>
        <button @onclick="Close">Cancel</button>
    </Dialog>
}
<button @onclick="Show">Show</button>
@* <button @onclick="() => dialog.ShowModal()">Show Modal</button> *@

<section>
    <h1>Home</h1>
    <button @onclick="SignOut">Sign out</button>
    
    <TabControl Title="Danish Composers">
        <TabPage Text="Maria Ahlefeldt">
            <p>
                <a href="https://en.wikipedia.org/wiki/Maria_Theresia_Ahlefeldt">Maria Theresia Ahlefeldt</a>
                (16 January 1755 – 20 December 1810) was a Danish, (originally German), composer.
                She is known as the first female composer in Denmark.
                Maria Theresia composed music for several ballets, operas, and plays of the royal theatre.
                She was given good critic as a composer and described as a “<span lang="da">virkelig Tonekunstnerinde</span>” ('a True Artist of Music').
            </p>
        </TabPage>
        <TabPage Text="Carl Andersen">
            <p>
                <a href="https://en.wikipedia.org/wiki/Joachim_Andersen_(composer)">Carl Joachim Andersen</a>
                (29 April 1847 – 7 May 1909) was a Danish flutist, conductor and composer born in Copenhagen, son of the flutist Christian Joachim Andersen.
                Both as a virtuoso and as composer of flute music, he is considered one of the best of his time.
                He was considered to be a tough leader and teacher and demanded as such a lot from his orchestras but through that style he reached a high level.
            </p>
        </TabPage>
        <TabPage Text="Ida da Fonseca">
            <p>
                <a href="https://en.wikipedia.org/wiki/Ida_Henriette_da_Fonseca">Ida Henriette da Fonseca</a>
                (July 27, 1802 – July 6, 1858) was a Danish opera singer and composer.
                Ida Henriette da Fonseca was the daughter of Abraham da Fonseca (1776–1849) and Marie Sofie Kiærskou (1784–1863).
                She and her sister Emilie da Fonseca were students of Giuseppe Siboni, choir master of the Opera in Copenhagen.
                She was given a place at the royal Opera alongside her sister the same year she debuted in 1827.
            </p>
        </TabPage>
        <TabPage Text="Peter Müller">
            <p>
                <a href="https://en.wikipedia.org/wiki/Peter_Lange-M%C3%BCller">Peter Erasmus Lange-Müller</a>
                (1 December 1850 – 26 February 1926) was a Danish composer and pianist.
                His compositional style was influenced by Danish folk music and by the work of Robert Schumann; Johannes Brahms; and his Danish countrymen, including J.P.E. Hartmann.
            </p>
        </TabPage>
    </TabControl>


    <h2>

        <SelectOnlyCombobox Items="@items" Label="Select Fruit"
        @bind-SelectedValue="SelectedValue" class="header-combo">
        </SelectOnlyCombobox>
    </h2>
    <p>SelectedValue: @SelectedValue</p>

    <p>SelectedValue: @Model.SelectedValue</p>

    <ol>
        <li><a href="/test/1">Test</a></li>
        <li><a href="/fetchdata">Fetch</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/people/create">Create Person</a></li>
        <li><a href="/people/view/1">Edit Person</a></li>
    </ol>

    <ul>
        <li>
            Companies
            <ul>
                <li><a href="/company/create">Create</a></li>
                <li><a href="/company/list">List</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            Vehicles
            <ul>
                <li><a href="/vehicle/create">Create</a></li>
                <li><a href="/vehicle/list">List</a></li>
            </ul>
        </li>
    </ul>
</section>

@code {
    Dialog.ShowMode dialogShowMode = Dialog.ShowMode.None;

    void Show()
    {
        dialogShowMode = Dialog.ShowMode.ShowModal;
        message = System.Security.Cryptography.RandomNumberGenerator.GetHexString(10);
        //await dialog.Show();
    }
    void Close()
    {
        //await dialog.Close();
        dialogShowMode = Dialog.ShowMode.None;
    }
    Dialog dialog = null!;
    string message = System.Security.Cryptography.RandomNumberGenerator.GetHexString(10);
    void SignOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    int? SelectedValue { get; set; }
    private string selectedItem = string.Empty;

    private SelectOption<int?>[] items = new SelectOption<int?>[]
    {
        new (null, "--Choose a Fruit--"),
        new (1, "Apple"),
        new (2, "Banana"),
        new (3, "Blueberry"),
        new (4, "Boysenberry"),
        new (5, "Cherry"),
        new (6, "Cranberry"),
        new (7, "Durian"),
        new (8, "Eggplant"),
        new (9, "Fig"),
        new (10, "Grape"),
        new (111, "Guava"),
        new (122, "Huckleberry")
    };

    public MyModel Model { get; set; } = new();

    public class MyModel : ICopyable<MyModel>
    {
        [Range(1, 122)]
        public int? SelectedValue { get; set; } = 0;

        [Required]
        public string Name { get; set; } = "Mark";

        public void CopyFrom(MyModel source)
        {
            SelectedValue = source.SelectedValue;
            Name = source.Name;
        }
    }
}