@page "/"

<PageTitle>Index</PageTitle>

<ol>
    <li><a href="/fetchdata">Fetch</a></li>
    <li><a href="/typography">Typography</a></li>
    <li><a href="/buttons">Buttons</a></li>
    <li><a href="/people/create">Create Person</a></li>
</ol>

<ul>
    <li>
        Companies
        <ul>
            <li><a href="/company/create">Create</a></li>
            <li><a href="/company/list">List</a></li>
        </ul>
    </li>
</ul>