@page "/"

<PageTitle>Index</PageTitle>
<section>
    <h1>Home</h1>

    <DropdownButton OnSelectCallback="async (value) => SelectedValue = value" class="mydropdown">
        <ButtonContent>Click Me!</ButtonContent>
        <ChildContent>
            <DropdownItem Value="1">Item 1</DropdownItem>
            <DropdownItem Value="2">Item 2</DropdownItem>
            <DropdownItem Value="3">Item 3</DropdownItem>
        </ChildContent>
    </DropdownButton>

    <DropdownButton OnSelectCallback="async (value) => SelectedValue = value" class="mydropdown2">
        <ButtonContent>
            <div class="holder">
                <svg viewBox="0 0 448 512">
                    <use xlink:href="icons/solid.svg#user" />
                </svg>
                User
            </div>
        </ButtonContent>
        <ChildContent>
            <DropdownItem Value="1">
                <div class="holder">
                    <svg viewBox="0 0 448 512" fill="red">
                        <use xlink:href="icons/solid.svg#user" />
                    </svg>
                    User
                </div>
            </DropdownItem>
            <DropdownItem Value="2">
                <div class="holder">
                    <svg viewBox="0 0 448 512" fill="green">
                        <use xlink:href="icons/solid.svg#user" />
                    </svg>
                    User
                </div>
            </DropdownItem>
            <DropdownItem Value="3">
                <div class="holder">
                    <svg viewBox="0 0 448 512">
                        <use xlink:href="icons/solid.svg#user" />
                    </svg>
                    User
                </div>
            </DropdownItem>
        </ChildContent>
    </DropdownButton>

    <p>SelectedValue: @SelectedValue</p>
    @* <div style="display:flex">
    <MenuButton Items="@items" OnSelectCallback="(val) => selectedItem = val">
    Actions
    </MenuButton>


    </div> *@
    <SelectOnlyCombobox Items="@items" Label="Select Fruit" LabelHidden=true></SelectOnlyCombobox>

    <p>Selected item: @selectedItem</p>
    <ol>
        <li><a href="/fetchdata">Fetch</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/people/create">Create Person</a></li>
    </ol>

    <ul>
        <li>
            Companies
            <ul>
                <li><a href="/company/create">Create</a></li>
                <li><a href="/company/list">List</a></li>
            </ul>
        </li>
    </ul>
</section>

@code {
    int SelectedValue { get; set; }
    private string selectedItem = string.Empty;

    private string[] items = new string[]
    {
        "Choose a Fruit",
        "Apple",
        "Banana",
        "Blueberry",
        "Boysenberry",
        "Cherry",
        "Cranberry",
        "Durian",
        "Eggplant",
        "Fig",
        "Grape",
        "Guava",
        "Huckleberry"
    };
}