@page "/"
@inject NavigationManager Navigation
@inject ILogger<Index> Logger
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<section class="page">
    <h1>Home</h1>

    @* <div class="tile-container">
    <div class="tile svg-vehicle">
    <div class="svg-xlarge svg-vehicle">
    <img alt="Vehicle" src="icons/vehicle.svg" />
    </div>
    <div class="title">Vehicle</div>
    </div>
    <div class="tile svg-servicebooking">

    <div class="svg-xlarge svg-servicebooking">
    <img alt="Service Booking" src="icons/servicebooking.svg" />
    </div>
    <div class="title">Service Booking</div>
    </div>
    </div> *@
    <section class="progress window">
        <h1>Copying "Really Achieving Your Childhood Dreams"</h1>
        <details>
            <summary>Copying... <progress max="375505392" value="97543282"></progress> 25%</summary>
            <dl>
                <dt>Transfer rate:</dt>
                <dd>452KB/s</dd>
                <dt>Local filename:</dt>
                <dd>/home/rpausch/raycd.m4v</dd>
                <dt>Remote filename:</dt>
                <dd>/var/www/lectures/raycd.m4v</dd>
                <dt>Duration:</dt>
                <dd>01:16:27</dd>
                <dt>Color profile:</dt>
                <dd>SD (6-1-6)</dd>
                <dt>Dimensions:</dt>
                <dd>320×240</dd>
            </dl>
        </details>
    </section>

    <ol>
        <li><a href="/bookingprocess">Booking Process</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="/buttons">Buttons</a></li>
    </ol>
</section>

@code {


}