@page "/search/{SearchString}"
@inject IJSRuntime JSRuntime
@inject ILogger<Search> Logger

<PageTitle>Search</PageTitle>

<section>
    <h1 id="h1Element">Search Results</h1>

    <h2>@SearchString</h2>
</section>

@code {
    [Parameter]
    public string SearchString { get; set; } = null!;

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         var result = await JSRuntime.InvokeAsync<bool>("jsInterop.setFocus", "h1Element");
    //         Logger.LogInformation("Setting focus returned {result}.", result);
    //     }
    // }

    protected override async Task OnParametersSetAsync()
    {
        //return base.OnParametersSetAsync();
        var result = await JSRuntime.InvokeAsync<bool>("jsInterop.setFocus", "h1Element");
        Logger.LogInformation("Setting focus returned {result}.", result);
    }
}