@page "/test/{msg}"
@inject ILogger<Test> Logger

<h3>Test</h3>

<p>
    @msg
</p>
<a href="/test/@Helpers.GetRandomHtmlId(10)">Hello</a>

<EditForm Model="@Model">
    <InputText @bind-Value="Model.Name"></InputText>
    
</EditForm>

@code {
    [Parameter]
    public string msg { get; set; } = null!;

    public TestModel Model { get; set; } = new();

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Logger.LogInformation("SetParametersAsync()");
        await base.SetParametersAsync(parameters);
        //await Task.Delay(1000);
    }
    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized()");
        base.OnInitialized();
    }
    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("OnInitializedAsync()");
        await base.OnInitializedAsync();
        //await Task.Delay(1000);
    }
    protected override void OnParametersSet()
    {
        Logger.LogInformation("OnParametersSet()");
        base.OnParametersSet();
    }
    protected override async Task OnParametersSetAsync()
    {
        Logger.LogInformation("OnParametersSetAsync()");
        await base.OnParametersSetAsync();
        await Task.Delay(1000);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender({firstRender})", firstRender); 
        base.OnAfterRender(firstRender);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogInformation("OnAfterRenderAsync({firstRender})", firstRender); 
        await base.OnAfterRenderAsync(firstRender);
        //await Task.Delay(1000);
    }

    public record TestModel
    {
        public string Name { get; set; }
    }
}