@if (dialogShowMode != Dialog.ShowMode.None)
{
    <Dialog @ref="dialog" AutoShow="dialogShowMode">
        <h1>Confirm</h1>
        <h3>@message</h3>
        <p>Are you sure you want to remove this driver from the vehicle?</p>
        <button @onclick="Close">Cancel</button>
    </Dialog>
}
<button @onclick="Show">Show</button>

@code {
    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public List<string> StrList { get; set; } = null!;

    Dialog.ShowMode dialogShowMode = Dialog.ShowMode.None;

    void Show()
    {
        dialogShowMode = Dialog.ShowMode.ShowModal;
        message = $"{Id} {System.Security.Cryptography.RandomNumberGenerator.GetHexString(10)}";
        //await dialog.Show();
    }
    void Close()
    {
        //await dialog.Close();
        dialogShowMode = Dialog.ShowMode.None;
    }
    Dialog dialog = null!;
    string message = System.Security.Cryptography.RandomNumberGenerator.GetHexString(10);
}
