@page "/typography"

<PageTitle>Typography</PageTitle>

<section>
    <h1>Typography</h1>
    <h2>Header 2</h2>

    <h1>Header 1</h1>
    <div></div>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h5>Header 5b</h5>
    <h6>Header 6</h6>

    <ul>
        <li>List item #1</li>
        <li>List item #2</li>
        <li>List item #3</li>
    </ul>

    <a href="https://localhost:5003">Link visited</a>
    <a href="https://localhost:5003/test">Link not visited</a>

    <p style="font-weight: 100">This text is font-weight 100</p>
    <p style="font-weight: 300">This text is font-weight 300</p>
    <p style="font-weight: 400">This text is font-weight 400</p>
    <p style="font-weight: 500">This text is font-weight 500</p>
    <p style="font-weight: 700">This text is font-weight 700</p>
    <p style="font-weight: 900">This text is font-weight 900</p>
    <p style="font-weight: bold;">This text is bold</p>
    <p style="font-weight: bolder">This text is bolder</p>

    <h1>Normal</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>Larger</h1>
    <p style="font-size:larger">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>Smaller</h1>
    <p style="font-size:smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>14px</h1>
    <p style="font-size:14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>16px</h1>
    <p style="font-size:16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>18px</h1>
    <p style="font-size:17px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
    <h1>20px</h1>
    <p style="font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lectus malesuada magna sollicitudin fringilla sed interdum massa. Proin dignissim at arcu ut sagittis. Praesent cursus nibh at posuere dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis mi vitae urna fringilla, imperdiet eleifend enim egestas. Maecenas sollicitudin semper vulputate. Curabitur ac metus massa. Sed laoreet leo elementum urna imperdiet mollis. Vivamus sed eros nec diam tincidunt tincidunt non eu tellus. Nulla vehicula at erat quis scelerisque. Aenean et hendrerit diam, in tincidunt nulla. Curabitur eu leo sem. Curabitur vitae dictum lorem, sit amet ultricies tellus.</p>
</section>

@code {

}
