.activitylog article {
    font-size: 80%;
    margin: 1em 0 1em 0em;
    padding: 0.5em;
}
.isnote {
    background-color: #f5ef4242;
    padding: 1em 0.5em !important;
}

.activitylog article ::deep h1 {
    margin: 0.5em 0 0.5em 0;
}
    .activitylog article footer {
        font-size: small;
    }

    .activitylog article footer time {
        font-style: italic;
    }

.username {
    font-weight: 600;
}