.activitylog ::deep form {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.activitylog article {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border-color);
}

    .activitylog article footer {
        font-size: small;
    }
