.activitylog article {
    font-size: 80%;
    margin: 1em 0 1em 0em;
}

    .activitylog article footer {
        font-size: small;
    }

    .activitylog article footer time {
        font-style: italic;
    }

.username {
    font-weight: 600;
}