@if (IsFollowing)
{
    <button @onclick="UnfollowClick" disabled="@followBtnDisabled">
        @* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
        </svg> *@
        Unfollow
    </button>
}
else
{
    <button @onclick="FollowClick" disabled="@followBtnDisabled">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
        </svg>	
        Follow
    </button>
}

@code {
    [Parameter, EditorRequired]public Guid Id { get; set; }
    [Parameter, EditorRequired]public bool IsFollowing { get; set; }
    [Parameter]public EventCallback<bool> IsFollowingChanged { get; set; }

    public delegate Task<PostResponse> Follow(Guid id);
    [Parameter, EditorRequired] public Follow OnFollow { get; set; } = null!;
    public delegate Task<bool> Unfollow(Guid id);
    [Parameter, EditorRequired] public Unfollow OnUnfollow { get; set; } = null!;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Id);
        ArgumentNullException.ThrowIfNull(IsFollowing);
        ArgumentNullException.ThrowIfNull(OnFollow);
        ArgumentNullException.ThrowIfNull(OnUnfollow);
    }

    async Task UpdateIsFollowing(bool value)
    {
        await IsFollowingChanged.InvokeAsync(value);
    }

    bool followBtnDisabled;

    async Task FollowClick()
    {
        followBtnDisabled = true;
        try
        {
            var response = await OnFollow(Id);
            if (response is PostResponse.Success)
            {
                await UpdateIsFollowing(true);
            }
        }
        finally
        {
            followBtnDisabled = false;
        }
    }

    async Task UnfollowClick()
    {
        followBtnDisabled = true;
        try
        {
            var response = await OnUnfollow(Id);
            if (response)
            {
                await UpdateIsFollowing(false);
            }
        }
        finally
        {
            followBtnDisabled = false;
        }
    }
}
