<div class="page-header stick">
    <div class="icon">
        @IconContent
    </div>
    <div class="info">
        @InfoContent
    </div>
    <div class="buttons btn-group">
        @Buttons
    </div>
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment IconContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment InfoContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment Buttons { get; set; } = null!;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(IconContent);
        ArgumentNullException.ThrowIfNull(InfoContent);
        ArgumentNullException.ThrowIfNull(Buttons);
    }
}
