@typeparam TItem
<section class="related-section related-list">
    <div class="header">
        <div class="icon">
            @IconContent
        </div>
        <h1>@TypeName (@Items.Count())</h1>
        <div class="buttons btn-group">
            @Buttons
        </div>
    </div>
    <div class="content">
        @foreach(var item in Items)
        {
            <article>
            @ItemTemplate(item)
            </article>
        }
    </div>
</section>
@code {
    [Parameter, EditorRequired] public string TypeName { get; set; } = null!;
    [Parameter, EditorRequired] public IEnumerable<TItem> Items { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment IconContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment Buttons { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment<TItem> ItemTemplate { get; set; } = null!;
}
