<div class="view-header page-sub-header">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(ChildContent);
    }
}
