@page "/servicebooking/list"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Service Bookings</PageTitle>

<ListTemplate TGridItem="ServiceBookingListDto" Options="listOptions" ApiUrl="/api/servicebooking" Key="ListPage_ServiceBooking" Title="Service Bookings">
    <IconContent>
        <div class="svg-large svg-servicebooking">
            <img alt="Service Booking" src="icons/servicebooking.svg" />
        </div>
    </IconContent>
    <Buttons>
        <button>New</button>
        <button>Import</button>
        <button>Add to Campaign</button>
    </Buttons>
    <GridColumns>
        <TemplateColumn Title="Ref">
            <a href="/servicebooking/view/@context!.Id">@context.Ref</a>
        </TemplateColumn>
        <PropertyColumn Property="x=>x.Vrm" Title="Vrm" />
        <PropertyColumn Property="x=>x.RescheduleTime" Title="Due" Format="g" />
        <PropertyColumn Property="x=>x.StatusText" Title="Status" />
        <TemplateColumn Title="Worker">
            @context.WorkerName
        </TemplateColumn>
    </GridColumns>
</ListTemplate>

@code {
    List<SelectOption<int?>> listOptions = new()
    {
        new ((int)ServiceBookingListOptions.All, "All Service Bookings"),
        new ((int)ServiceBookingListOptions.Recent, "Recently Viewed"),
        new ((int)ServiceBookingListOptions.Following, "Following"),
        new ((int)ServiceBookingListOptions.Assigned, "Assigned"),
        new ((int)ServiceBookingListOptions.Due, "Due"),
    };

    //bool isCreating;
}
