@page "/product/create"
@using Scrum.Web.Blazor.Services;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Create Product</PageTitle>

<h1>Create Product</h1>

<CreateFormTemplate @ref="form" OnLoad="Load" OnSave="SaveAsync" OnCreated="@(() => Navigation.NavigateTo("/product/list"))">
    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="form.Model.Name" />
        <ValidationMessage For="@(() => form.Model.Name)" />
    </div>
</CreateFormTemplate>

@code {
    CreateFormTemplate<CreateProductRequest> form = null!;

    EditContext editContext { get; set; } = null!;
    ValidationMessageStore messageStore = null!;

    async Task<HttpResponseMessage> SaveAsync(CreateProductRequest model)
       => await Http.PostAsJsonAsync("/api/product", model);

    CreateProductRequest Load()
        => new();
}
