@page "/product/list"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo("/product/create"))">New</button>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products.OrderBy(p=>p.Name))
            {
                <tr>
                    <td><a href="/product/view/@product.Id">@product.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private ProductListDto[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<ProductListDto[]>("/api/product");
    }
}
