@implements IDisposable
@inject NavigationManager NavigationManager
@inject ILogger<Header> Logger


<header id="header">
    <div id="header-area">
        <DropdownButton OnSelectCallback="async (value) => selectedArea = value" class="mydropdown2">
            <ButtonContent>
                <div class="holder">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M0 72C0 49.9 17.9 32 40 32H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V72zM0 232c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V232zM128 392v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40zM160 72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V72zM288 232v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM160 392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V392zM448 72v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM320 232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V232zM448 392v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40z" class=""></path>
                    </svg>
                </div>
            </ButtonContent>
            <ChildContent>
                <DropdownItem Value="1">
                    <div class="holder">
                        <svg viewBox="0 0 448 512" fill="red">
                            <use xlink:href="icons/solid.svg#user" />
                        </svg>
                        User
                    </div>
                </DropdownItem>
                <DropdownItem Value="2">
                    <div class="holder">
                        <svg viewBox="0 0 448 512" fill="green">
                            <use xlink:href="icons/solid.svg#user" />
                        </svg>
                        User
                    </div>
                </DropdownItem>
                <DropdownItem Value="3">
                    <div class="holder">
                        <svg viewBox="0 0 448 512">
                            <use xlink:href="icons/solid.svg#user" />
                        </svg>
                        User
                    </div>
                </DropdownItem>
            </ChildContent>
        </DropdownButton>
    </div>
    <div id="header-logo" @onclick="GoHome">
        <svg viewBox="0 0 640 512" class="logo-svg" height="3em">
            @* <use xlink:href="icons/car-side.svg"/> *@
            <use xlink:href="icons/solid.svg#car-side" />
        </svg>
        @* <img src="icons/car-side.svg" height="60" fill="#FF0000" /> *@
        @* <svg class="logo-svg" height="60" viewBox="0 0 640 512">
        <path d="M171.3 96H224v96H111.3l30.4-75.9C146.5 104 158.2 96 171.3 96zM272 192V96h81.2c9.7 0 18.9 4.4 25 12l67.2 84H272zm256.2 1L428.2 68c-18.2-22.8-45.8-36-75-36H171.3c-39.3 0-74.6 23.9-89.1 60.3L40.6 196.4C16.8 205.8 0 228.9 0 256V368c0 17.7 14.3 32 32 32H65.3c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80H385.3c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80H608c17.7 0 32-14.3 32-32V320c0-65.2-48.8-119-111.8-127zM434.7 368a48 48 0 1 1 90.5 32 48 48 0 1 1 -90.5-32zM160 336a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
        </svg> *@
    </div>
    <div id="header-search">
        <SearchBox></SearchBox>
    </div>
    <AuthorizeView>
        <Authorized>
            <div id="header-toolbar">
                <ButtonDropdownPanel Align="ButtonDropdownPanel.Alignment.Right" ClassName="user-dropdown-button">
                    <ButtonContent>
                        <svg viewBox="0 0 448 512" height="2em">
                            <use xlink:href="icons/solid.svg#user" />
                        </svg>
                    </ButtonContent>
                    <PanelContent>

                        <ul>
                            <li>
                                <a href="">
                                    <svg viewBox="0 0 448 512" height="1.6em">
                                        <use xlink:href="icons/solid.svg#user" />
                                    </svg>
                                    @context.User.Identity?.Name
                                </a>
                            </li>
                        </ul>

                        <hr />
                        <ul>
                            <li>
                                <a href="/claims">
                                    <svg viewBox="0 0 512 512" height="1em">
                                        <use xlink:href="icons/solid.svg#list" />
                                    </svg>
                                    Claims
                                </a>
                            </li>

                            <li>
                                <a href="" @onclick="BeginLogOut">
                                    <svg viewBox="0 0 612 512" height="1em">
                                        <use xlink:href="icons/solid.svg#arrow-right-from-bracket" />
                                    </svg>
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </PanelContent>
                </ButtonDropdownPanel>
                @* <MenuButton Items="@items" Align="MenuButton.Alignment.Right" OnSelectCallback="(val) => selectedItem = val">
                <svg viewBox="0 0 448 512">
                <use xlink:href="icons/solid.svg#user" />
                </svg>
                </MenuButton> *@
                @* <button id="header-account" @onclick="Toggle">
                <img src="/icons/user.svg" alt="icon name" height="40">
                @{
                var className = contentVisible ? "" : "hidden";
                }

                <div id="header-account-content">
                <ul>
                <li><a href="authentication/profile">@context.User.Identity?.Name</a></li>
                <li><a href="/claims">Claims</a></li>
                <li><a href="#" @onclick="BeginLogOut">Sign out</a></li>
                </ul>

                </div>
                </button> *@
            </div>
        </Authorized>
        <NotAuthorized>
            <div id="header-not-authorized">
                @* <a href="authentication/register">Register</a> *@
                <a href="authentication/login">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</header>




@code {
    int selectedArea = 1;

    private string[] items = new string[]
    {
        "Choose a Fruit",
        "Apple",
        "Banana",
        "Blueberry",
        "Boysenberry",
        "Cherry",
        "Cranberry",
        "Durian",
        "Eggplant",
        "Fig",
        "Grape",
        "Guava",
        "Huckleberry"
    };
    string selectedItem = string.Empty;

    bool contentVisible = false;

    IDisposable? registration;

    void GoHome() => NavigationManager.NavigateTo("/");

    void Toggle() => contentVisible = !contentVisible;

    void BeginLogOut()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }

    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (context.TargetLocation.EndsWith("#"))
        {
            context.PreventNavigation();
        }

        return ValueTask.CompletedTask;
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        contentVisible = false;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            registration =
                NavigationManager.RegisterLocationChangingHandler(OnLocationChanging);
        }
    }

    void IDisposable.Dispose()
    {
        registration?.Dispose();
        NavigationManager.LocationChanged -= LocationChanged;
    }
}
