#header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "logo search account";
    align-items: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--header-bg);
    color: var(--header-color);
}

@media (prefers-color-scheme: dark){
    #header {
    }
}

#header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: start;
}

    #header-logo .logo-svg {
        fill: cornflowerblue;
    }

#header-search {
    grid-area: search;
    justify-self: center;
}

    #header-search .wrapper {
        display: flex;
    }

    #header-search input[type=search] {
        flex: 1 1 auto;
        width: 30ch;
        
    }

    #header-search select {
        flex: 0 1 auto;
    }

#header-account {
    grid-area: account;
    /*padding-left: 1em;*/
    cursor: pointer;
    position: relative;
    
}

    #header-account:focus-within #header-account-content {
        visibility:visible;
    }
    #header-not-authorized {
        /*padding-left: 1em;*/
        grid-area: account;
    }

.hidden {
    display: none;
}

#header-account-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-bg);
    padding: 10px;
    z-index: 100;
    visibility: hidden;
    white-space: nowrap;
}

#search-history {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 100;
}
@media (max-width: 640px) {
    #header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "logo account" "search search";
    }

    #header-search {
        padding-top: 0;
        justify-self: start;
    }
}
