#header {
    position: sticky;
    z-index: 100;
    top: 0;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "area logo search toolbar";
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--header-bg);
    color: var(--header-color);
    gap: 0.5em 1em;
}

@media (prefers-color-scheme: dark){
    #header {
    }
}

#header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: start;
}

    #header-logo .logo-svg {
        fill: cornflowerblue;
    }

#header-search {
    grid-area: search;
    justify-self: center;
    position: relative;
}

    

#header-toolbar {
    grid-area: toolbar;
    /*padding-left: 1em;*/
    cursor: pointer;
    position: relative;
    display: flex;
}

    ::deep #header-toolbar svg {
        fill: var(--header-button-color);
        height: 1.5em;
    }
    /*#header-account:focus-within #header-account-content {
        visibility:visible;
    }*/
    #header-not-authorized {
        grid-area: toolbar;
    }

.hidden {
    display: none;
}

#header-account-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-bg);
    padding: 10px;
    z-index: 100;
    visibility: hidden;
    white-space: nowrap;
}


@media (max-width: 640px) {
    #header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "area logo toolbar" "search search search";
    }

    #header-search {
        padding-top: 0;
        justify-self: center;
    }
}
