@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger
@attribute [Authorize]

<CascadingValue Name="AppLayout" Value="this">
    <Header />
    <div class="content stick">
        @if (SelectedArea == AppArea.Vms)
        {
            <VmsNavMenu />
        }
        else if (SelectedArea == AppArea.Catalog)
        {
            <Catalog.Blazor.Shared.CatalogNavMenu />
        }
        else
        {
            <div>Unknown Area</div>
        }
        <main class="main stick">
            @Body
        </main>
    </div>
</CascadingValue>

@code {
    public AppArea SelectedArea { get; set; }
    public bool SelectArea(AppArea area) 
    {
        Logger.LogInformation("Selecting area {area}", area);
        SelectedArea = area;
        StateHasChanged();
        return true;
    }
}