.content {
    display: grid;
    grid-template-columns: auto 1fr;
}

::deep .stick {
    position: sticky;
    top: 4em;
}

.stick {
    position: sticky;
    top: 4em;
}

::deep .page-header {
    z-index:1;
}