@inherits LayoutComponentBase
@inject HubConnection HubConnection
@inject ILogger<MainLayout> Logger

<Header />
<div class="content stick">
    <NavMenu />
    <main class="main stick">
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync() 
    {
        try
        {
            await HubConnection.StartAsync();
        }
        catch(Exception ex)
        {
            Logger.LogError(ex, "Failed to start the signalR connection.");
        }
    }
}