@inherits LayoutComponentBase
@inject HubConnection HubConnection

<Header />
<div class="content">
    <NavMenu />
    <main class="main">
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync() => await HubConnection.StartAsync();
}