.content {
    display: grid;
    grid-template-columns: auto 1fr;
}

::deep .stick {
    position: sticky;
    top: var(--header-height);
}

.stick {
    position: sticky;
    top: var(--header-height);
}

/*::deep .page-header {
    z-index:1;
}*/