<nav class="site-nav">
    <div class="stick">
    <NavLink href="/" title="Home" >
        <div class="svg-large svg-home">
            <img src="icons/home.svg" />
        </div>
    </NavLink>
    <NavLink href="/company/list" title="Companies">
        <div class="svg-large svg-company">
            <img src="icons/company.svg" />
        </div>
    </NavLink>
    <NavLink href="/driver/list" title="Drivers">
        <div class="svg-large svg-driver">
            <img src="icons/driver.svg" />
        </div>
    </NavLink>
    <NavLink href="/customer/list" title="Customers">
        <div class="svg-large svg-customer">
            <img src="icons/customer.svg" />
        </div>
    </NavLink>
    <NavLink href="/fleet/list" title="Fleets">
        <div class="svg-large svg-fleet">
            <img src="icons/fleet.svg" />
        </div>
    </NavLink>
    <NavLink href="/network/list" title="Networks">
        <div class="svg-large svg-network">
            <img src="icons/network.svg" />
        </div>
    </NavLink>
    <NavLink href="/supplier/list" title="Suppliers">
        <div class="svg-large svg-supplier">
            <img src="icons/supplier.svg" />
        </div>
    </NavLink>
    <NavLink href="/vehicle/list" title="Vehicles">
        <div class="svg-large svg-vehicle">
            <img src="icons/vehicle.svg" />
        </div>
    </NavLink>
    <NavLink href="/servicebooking/list" title="Service Bookings">
        <div class="svg-large svg-servicebooking">
            <img src="icons/servicebooking.svg" />
        </div>
    </NavLink>
        <NavLink href="/product/list" title="Products">
            <div class="svg-large svg-servicebooking">
                <img src="icons/servicebooking.svg" />
            </div>
        </NavLink>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
