<section class="retry-load">
    <div class="content">
        <h1>Loading failed.</h1>
        <p>An error occurred loading the page.</p>
        <button @onclick="OnRetry">Retry</button>
    </div>
</section>


@code {
    [Parameter] public Exception? Exception { get; set; }
    [Parameter, EditorRequired] public EventCallback OnRetry { get; set; }

    protected override void OnInitialized()
    {
        if (!OnRetry.HasDelegate) throw new ArgumentException($"You must provide the '{nameof(OnRetry)}' parameter.");
    }
}
