.search-box .wrapper {
    display: flex;
}

.search-box input[type='search'] {
    flex: 1 1 auto;
    width: clamp(10ch, 30ch, 50ch);
}

.search-box button[type='submit'] {
}

#search-history {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 100;
    width: 100%;
}

    #search-history ul {
        list-style: none;
        padding: 0;
    }

    #search-history li {
        cursor: pointer;
        padding: 6px;
        margin: 0;

    }

        #search-history li:hover, #search-history li.focus {
            background-color: black;
            color: white;
        }

.hidden {
    display: none;
}
