<PageHeader>
    <IconContent>
        @IconContent
    </IconContent>
    <InfoContent>
        <h1>@TypeName</h1>
        <h2>@Title &nbsp;</h2>
    </InfoContent>
    <Buttons>
        @Buttons
    </Buttons>
</PageHeader>

<ViewHeader>
    @HeaderContent
</ViewHeader>
@ChildContent
@code {
    [Parameter, EditorRequired] public RenderFragment IconContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment Buttons { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment HeaderContent { get; set; } = null!;
    [Parameter, EditorRequired] public string Title { get; set; } = null!;
    [Parameter, EditorRequired] public string TypeName { get; set; } = null!;
}
