dialog.scroll-content {
    min-block-size: 30vh;
    max-block-size: min(90vh, 100%);
    display: grid;
    overflow: hidden;
}

    ::deep .dialog-container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-block-size: 90vh;
    }

        ::deep .dialog-content {
            overflow-y: auto;
            max-block-size: 100%; /* safari */
            overscroll-behavior-y: contain;
        }
