dialog {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0;
    
}

::deep .dialog-header {
    padding: 1em;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
}

::deep .dialog-content {
    padding: 1em;
}

::deep .dialog-footer {
    padding: 1em;
    border-top: 2px solid var(--border-color);
    margin-top: 1em;
    
}

::deep .dialog-controls {
    display: flex;
    justify-content: end;
    column-gap: 0.5em;
}
::deep .error {
    color: red;
}

dialog.scroll-content {
    max-block-size: 90vh;
    display: grid;
    overflow: hidden;
}

::deep .dialog-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-block-size: 90vh;
}

::deep .dialog-content {
    overflow-y: auto;
    max-block-size: 100%; /* safari */
    overscroll-behavior-y: contain;
}
