dialog {
    padding: 0;
}

.dialog form {
    height: 100%;
}

::deep .dialog-content .dialog-form-controls {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

::deep .dialog-content .dialog-form-controls .form-control {
    display: flex;
    flex-direction: column;
}

::deep .dialog-header {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
}

::deep .dialog-content {
    padding: 1em;
}

::deep .dialog-footer {
    padding: 1em;
    
    margin-top: 1em;
}

::deep .dialog-controls {
    display: flex;
    justify-content: end;
    column-gap: 0.5em;
}

::deep .error {
    color: red;
}

dialog.scroll-content {
    max-block-size: 90vh;
    display: grid;
    overflow: hidden;
}

::deep .dialog-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-block-size: 90vh;
    height: 100%;
}

::deep .dialog-content {
    overflow-y: auto;
    max-block-size: 100%; /* safari */
    overscroll-behavior-y: contain;
    height: 100%;
}
