.combo *,
.combo *::before,
.combo *::after {
    box-sizing: border-box;
}

.combo-label.hidden {
    display: none;
}

.combo {
    position: relative;
}

.combo-input svg {
    height: 1em;
}



.combo-menu {
    display: none;
    max-height: 300px;
    overflow-y: auto;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
}

.open .combo-menu {
    display: block;
}

.combo-option {
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    column-gap: 1em;
    cursor: pointer;
    align-items: center;
}

    .combo-option:hover {
        background-color: rgb(0 0 0 / 10%);
    }

    .combo-option svg {
        height: 1em;
        visibility: hidden;
    }

    .combo-option.option-current {
        outline: 3px solid #0067b8;
        outline-offset: -3px;
    }

    .combo-option[aria-selected="true"] {
        position: relative;
    }

        .combo-option[aria-selected="true"] svg {
            visibility: visible;
        }
/*.combo-option[aria-selected="true"]::after {
        content: "\2714";
        position: absolute;
        left: 0.5em;
    }*/
