@page "/customer/list"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Customers</PageTitle>

<ListTemplate TGridItem="CustomerListDto" Options="listOptions" ApiUrl="/api/customer" Key="ListPage_Customer" Title="Customers">
    <IconContent>
        <div class="svg-large svg-customer">
            <img alt="Customer" src="icons/customer.svg" />
        </div>
    </IconContent>
    <Buttons>
        <button @onclick="() => isCreating = true">New</button>
    </Buttons>
    <GridColumns>
        <TemplateColumn Title="Code">
            <a href="/customer/view/@context!.CompanyCode/@context!.Code">@context.Code</a>
        </TemplateColumn>
        <PropertyColumn Property="p=>p!.Name" />
    </GridColumns>
</ListTemplate>


@if (isCreating)
{
@*    <Create OnClose="() => isCreating = false" />  *@
}

@code {
    List<SelectOption<int?>> listOptions = new()
    {
        new (0, "All Customers"),
    };

    bool isCreating;
}
