@inject ServerApiHttpClient Api

<div class="taskview">
    <div class="task-content">
        The next task is
        @if (ServiceBooking.Status == 1)
        {
            <button @onclick="AssignSupplier">Assign Supplier</button>
        }
        else if (ServiceBooking.Status == 2)
        {
            <button @onclick="AssignSupplier">Assign Supplier</button>
            <button @onclick="BookSupplier">Book Supplier</button>
        }
        else if (ServiceBooking.Status == 3)
        {
            <button @onclick="UnbookSupplier">Unbook</button>
            <button @onclick="Confirm">Confirm with Driver</button>
        }
    </div>
    <MenuButton Items="@items" Align="MenuButton.Alignment.Right" OnSelectCallback="OnSelectTask">
        @* <svg viewBox="0 0 128 512">
        <use xlink:href="icons/solid.svg#ellipsis-vertical" />
        </svg> *@
        Task
    </MenuButton>
</div>



@code {
    [Parameter, EditorRequired] public ServiceBookingFullDto ServiceBooking { get; set; } = null!;
    [Parameter, EditorRequired] public EventCallback<string> OnSelectTask { get; set; }

    private string[] items = new string[]
    {
        "Assign Supplier",
        "Unbook Supplier",
        "Book Supplier",
    };
    string selectedItem = string.Empty;

    public async Task AssignSupplier() => await OnSelectTask.InvokeAsync("Assign Supplier");
    public async Task BookSupplier() => await OnSelectTask.InvokeAsync("Book Supplier");
    public async Task UnbookSupplier() => await OnSelectTask.InvokeAsync("Unbook Supplier");
    public async Task Confirm() => await OnSelectTask.InvokeAsync("Confirm with Driver");

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(ServiceBooking);
        if (!OnSelectTask.HasDelegate) throw new ArgumentNullException(nameof(OnSelectTask));
    }
}
