form.edit-form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em 1em;
    font-size: 1rem;

    > label {
        grid-column: 1;
        grid-row: auto;
        align-self: center;
    }

    > input, > select, > textarea {
        grid-column: 2;
        grid-row: auto;
    }

    > input, > select, > textarea {
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        line-height: 1.5;
    }

    > input:not([type='checkbox']), > select, > textarea {
        width: 100%;
    }

    > input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }

    > input[type='radio'] {
        border-radius: 50%;
        width: 1em;
        height: 1em;
    }


    .buttons {
        grid-row: auto;
        grid-column: 1 / -1;
        text-align: start;
    }

    .validation-message {
        grid-column-start: 2;
        margin-bottom: 0.5em;
    }
}

.valid.modified:not([type=checkbox]) {
    border: 1px solid #26b050;
}

.invalid {
    border: 1px solid red;
}

.validation-message {
    color: red;
}
