@page "/"

<PageTitle>Index</PageTitle>

<ol>
    <li><a href="/fetchdata">Fetch</a></li>
    <li><a href="/typography">Typography</a></li>
    <li><a href="/buttons">Buttons</a></li>
    <li><a href="/people/create">Create Person</a></li>
</ol>


<div class="mygrid">
    <p>Some text</p>
    <p>Other text</p>
    <p class="validation-text">Validation text</p>

    <p>Some text</p>
    <p>Other text</p>
    <p class="validation-text">Validation text</p>
</div>