@page "/company/list"
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Companies</PageTitle>

<ListTemplate Context="item" TItem="CompanyListModel" OnLoad="LoadItemsAsync" Lists="lists">
    <TableHeader>
        <th>Code</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
            <td><a href="/company/view/@item.Code">@item.Code</a></td>
            <td><a href="/company/view/@item.Code">@item.Name</a></td>
    </RowTemplate>
</ListTemplate>

@code {
    private Dictionary<int, string> lists = new()
    {
        {0, "All" },
        {1, "Recent" },
        {2, "Pinned" }
    };

    public async Task<IReadOnlyList<CompanyListModel>?> LoadItemsAsync(int list)
        => await Http.GetFromJsonAsync<List<CompanyListModel>>($"/api/Company?list={list}");
}
