<section class="view-card">
    <div class="view-header">
        <div class="view-control">
            <div class="view-icon">
                @Icon
            </div>
            <div class="view-info">
                <h1>@Title</h1>
                <h2>@Name</h2>
            </div>
            <div class="view-buttons btn-group">
                @HeaderButtons
            </div>
        </div>
    </div>
    <div class="view-content">
        @Content
    </div>
</section>

@code {
    [EditorRequired, Parameter]
    public RenderFragment Icon { get; set; } = null!;

    [EditorRequired, Parameter]
    public RenderFragment HeaderButtons { get; set; } = null!;

    [EditorRequired, Parameter]
    public string Title { get; set; } = null!;

    [EditorRequired, Parameter]
    public string Name { get; set; } = null!;

    [EditorRequired, Parameter]
    public RenderFragment Content { get; set; } = null!;
}
