@page "/company/list"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Companies</PageTitle>

<ListTemplate TGridItem="CompanyListDto" Options="listOptions" ApiUrl="/api/company" Key="ListPage_Company" Title="Companies">
    <IconContent>
        <div class="svg-large svg-company">
            <img alt="Company" src="icons/company.svg" />
        </div>
    </IconContent>
    <Buttons>
        <button @onclick="() => isCreating = true">New</button>
    </Buttons>
    <GridColumns>
        <TemplateColumn Title="Code">
            <a href="/company/view/@context!.Code">@context.Code</a>
        </TemplateColumn>
        <PropertyColumn Property="p=>p!.Name" />
    </GridColumns>
</ListTemplate>


@if (isCreating)
{
@*    <Create OnClose="() => isCreating = false" />  *@
}

@code {
    List<SelectOption<int?>> listOptions = new()
    {
        new (0, "All Companies"),
    };

    bool isCreating;
}
